@model KartverketGruppe5.Models.Saksbehandler
@{
    ViewData["Title"] = "Registrer ny bruker";
}

<div class="flex flex-col justify-center items-center h-screen w-full bakgrunn-bilde-skog p-12">
    <form asp-action="Register" method="post" class="form-element form-element-less-gap bg-bg/80">
        <img src="~/bilder/kartverket-logo-large.svg" alt="Kartverket logo" class="w-auto h-12">
        <div asp-validation-summary="ModelOnly" class="text-error"></div>

        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-1">
                <div class="input-div">
                    <i class="ph ph-user ph-lg"></i>
                    <input asp-for="Fornavn" type="text" placeholder="Fornavn" />
                </div>
                <span asp-validation-for="Fornavn" class="text-error text-sm"></span>
            </div>
            <div class="flex flex-col gap-1">
                <div class="input-div">
                    <i class="ph ph-user ph-lg"></i>
                    <input asp-for="Etternavn" type="text" placeholder="Etternavn" />
                </div>
                <span asp-validation-for="Etternavn" class="text-error text-sm"></span>
            </div>
            <div class="flex flex-col gap-1">
                <div class="input-div">
                    <i class="ph ph-envelope ph-lg"></i>
                    <input asp-for="Email" type="email" placeholder="Email" />
                </div>
                <span asp-validation-for="Email" class="text-error text-sm"></span>
            </div>
            <div class="flex flex-col gap-1">
                <div class="input-div">
                    <i class="ph ph-lock ph-lg"></i>
                    <input asp-for="Passord" type="password"placeholder="Passord" />
                </div>
                <span asp-validation-for="Passord" class="text-error text-sm"></span>
            </div>
        </div>
        <div class="flex flex-col items-center gap-2 w-full">   
            <button type="submit" class="btn btn-primary btn-wide">Registrer</button>
            <div class="text-base">Eller</div>
            <a asp-action="Index" class="underline text-blue-600 text-base">Logg inn</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 