@using KartverketGruppe5.Services
@inject SaksbehandlerService SaksbehandlerService
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var userType = Context.Session.GetString("UserType");
    var isAdmin = Context.Session.GetString("IsAdmin") == "True";
    
    var displayName = userType == "Saksbehandler" 
        ? Context.Session.GetString("SaksbehandlerNavn")
        : Context.Session.GetString("BrukerNavn");

    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["Action"]?.ToString();
    var isHomePage = currentController == "Home" && currentAction == "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kartverket</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    @RenderSection("Styles", required: false)
</head>
<body class="bg-bg">
    <header class="w-full shadow-lg">
        <nav class="flex justify-between items-center w-full p-2 px-4 bg-white">
            <div class="relative flex items-center justify-between gap-4 w-full">
                <a asp-controller="Home" asp-action="Index" class="text-xl font-bold">
                    <img src="~/bilder/kartverket-logo-large.svg" alt="Kartverket logo" class="w-auto h-12">
                </a>
                <button class="btn btn-custom-gray flex items-center justify-center" id="sidebarToggle">
                    <i class="ph ph-list cursor-pointer text-xl"></i>
                </button>
                <ul class="sidebar">
                    <li class="sidebar-item">
                        <a asp-controller="Home" asp-action="Index" class="sidebar-link">
                            <div class="sidebar-icon">
                                <i class="ph ph-house ph-lg"></i>
                            </div>
                            <div class="sidebar-text">
                                Hjem
                            </div>
                        </a>
                    </li>
                    @if (userType == "Bruker")
                    {
                        <li class="sidebar-item">
                            <a asp-controller="MapChange" asp-action="Index" class="sidebar-link">
                                <div class="sidebar-icon">
                                    <i class="ph ph-map-pin ph-lg"></i>
                                </div>
                                <div class="sidebar-text">
                                    Meld inn endring
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="MineInnmeldinger" asp-action="Index" class="sidebar-link">
                                <div class="sidebar-icon">
                                    <i class="ph ph-archive ph-lg"></i>
                                </div>
                                <div class="sidebar-text">
                                    Mine Innmeldinger
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="MinProfil" asp-action="Index" class="sidebar-link">
                                <div class="sidebar-icon">
                                    <i class="ph ph-archive ph-lg"></i>
                                </div>
                                <div class="sidebar-text">
                                    Min Profil
                                </div>
                            </a>
                        </li>
                    }
                    @if (userType == "Saksbehandler")
                    {
                        <li class="sidebar-item">
                            <a asp-controller="Saksbehandling" asp-action="Index" class="sidebar-link">
                                <div class="sidebar-icon">
                                    <i class="ph ph-list-checks ph-lg"></i>
                                </div>
                                <div class="sidebar-text">
                                    Saksbehandling
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="MineSaker" asp-action="Index" class="sidebar-link">
                                <div class="sidebar-icon">
                                    <i class="ph ph-folder-open ph-lg"></i>
                                </div>
                                <div class="sidebar-text">
                                    Mine saker
                                </div>
                            </a>
                        </li>
                        @if (isAdmin)
                        {
                            <li class="sidebar-item">
                                <a asp-controller="Admin" asp-action="Index" class="sidebar-link">
                                    <div class="sidebar-icon">
                                        <i class="ph ph-address-book ph-lg"></i>
                                    </div>
                                    <div class="sidebar-text">
                                        Administrasjon
                                    </div>
                                </a>
                            </li>
                        }
                    }
                    @if (displayName == null)
                    {
                        <li class="sidebar-item">
                            <a asp-controller="Login" asp-action="Index" class="sidebar-link">
                                <div class="sidebar-icon">
                                    <i class="ph ph-sign-in ph-lg"></i>
                                </div>
                                <div class="sidebar-text">
                                    Logg inn
                                </div>
                            </a>
                        </li>
                    } else {
                        <li class="sidebar-item">
                            <a asp-controller="Login" asp-action="Logout" class="sidebar-link">
                                <div class="sidebar-icon">
                                    <i class="ph ph-sign-out ph-lg"></i>
                                </div>
                                <div class="sidebar-text">
                                    Logg ut
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="min-h-screen">
        @RenderBody()
    </main>
    <footer class="border-t-4 border-primary">
        <div class="w-full">
            <img src="~/bilder/www.kartverket.no_.png" alt="Kartverket footer" class="w-full h-auto">
        </div>
            @* <div class="container">
                &copy; 2024 - KartverketGruppe5 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('sidebar-active');
        });

        // Lukk sidebar når man klikker utenfor
        document.addEventListener('click', function(event) {
            const sidebar = document.querySelector('.sidebar');
            const sidebarToggle = document.getElementById('sidebarToggle');
            
            if (!sidebar.contains(event.target) && !sidebarToggle.contains(event.target)) {
                sidebar.classList.remove('sidebar-active');
            }
        });
    </script>
</body>
</html>
