@model KartverketGruppe5.Models.HomeViewModel
@{
    ViewData["Title"] = "Kartverket API Search";
}

<div class="text-center flex flex-col items-center gap-4">
    <h1 class="text-4xl">Velkommen til Kartverket 2.0</h1>
    <a asp-controller="MapChange" asp-action="Index" class="text-black no-underline hover:text-black">
        <div class="bg-green-100 w-max border border-green-300 hover:scale-105 transition-all ease-in-out 
        duration-300 p-10 rounded-xl flex justify-center items-center text-xl font-bold">Meld inn endring</div>
    </a>
    <a asp-controller="MineInnmeldinger" asp-action="Index" class="text-black no-underline hover:text-black">
        <div class="bg-green-100 w-max border border-green-300 hover:scale-105 transition-all ease-in-out 
        duration-300 p-10 rounded-xl flex justify-center items-center text-xl font-bold">Mine innmeldinger</div>
    </a>
    <h2>Søk kommuneinfo</h2>
    <form asp-action="KommuneInfo" method="post">
        @Html.AntiForgeryToken()
        <label for="kommuneNr">Kommune-nummer:</label>
        <input type="text" id="kommuneNr" name="kommuneNr" class="border border-gray-300 rounded-md p-2" />
        <button type="submit">Søk</button>
    </form>

    <h2>Søk stedsnavn</h2>
    <form asp-action="Stedsnavn" method="post">
        @Html.AntiForgeryToken()
        <label for="searchTerm">Stedsnavn:</label>
        <input type="text" id="searchTerm" name="searchTerm" class="border border-gray-300 rounded-md p-2" />
        <button type="submit">Søk</button>
    </form>
</div>


@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}