@model List<KartverketGruppe5.Models.StedsnavnViewModel>
<h2>Stedsnavn Results</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Skrivem책te</th>
                <th>Objekttype</th>
                <th>Spr책k</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Skrivem책te</td>
                    <td>@item.Navneobjekttype</td>
                    <td>@item.Spr책k</td>
                    <td>@item.Navnestatus</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No results found.</p>
}