

<div class="flex justify-evenly gap-4 items-center p-8" style="background-color: #F5F2F2;">
    <div class="flex flex-col gap-2">
        <a asp-controller="Home" asp-action="Index" class="text-xl font-bold">
            <img src="~/bilder/kartverket-logo-large.svg" alt="Kartverket logo" class="w-auto h-12">
        </a>
    </div>
    <div class="flex flex-col gap-2">
        <a href="https://www.kartverket.no/om-kartverket/personvern" class="text-blue-500 underline">
            Personvern
        </a>
    </div>
    <div class="flex flex-col gap-2">
        <a href="https://uustatus.no/nn/erklaringer/publisert/26daa95f-6111-4b4c-b3c8-dc2321dfff70" class="text-blue-500 underline">
            Tilgjengelighetserklæring
        </a>
    </div>
</div>
