@model PagedResult<KartverketGruppe5.Models.ViewModels.InnmeldingViewModel>
@using KartverketGruppe5.Models
@{
    ViewData["Title"] = "Saksbehandling";
    ViewData["ActionName"] = "Detaljer";
    var statuses = (List<string>)ViewData["Statuses"];
    var fylker = ViewBag.Fylker as List<Fylke> ?? new List<Fylke>();
}

<div class="page-container">
    <div class="content-container">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-back">
            <i class="ph ph-arrow-left ph-lg"></i>
            Tilbake
        </a>
        <h1>Behandle Innmeldinger</h1>

        <!-- Innmelding-tabell -->
        <partial name="_InnmeldingTabell" model="Model" />

        <!-- Pagination -->
        <partial name="_Pagination" model="Model" />

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function() {
            function updateFilters() {
                var status = $('#statusFilter').val();
                var fylke = $('#fylkeFilter').val();
                var date = $('#dateSort').val();

                var params = new URLSearchParams();
                
                if (status) params.append('statusFilter', status);
                if (fylke) params.append('fylkeFilter', fylke);
                if (date) params.append('sortOrder', date);

                window.location.href = '@Url.Action("Index")' + '?' + params.toString();
            }

            // Event listeners
            $('#statusFilter, #fylkeFilter, #dateSort').on('change', function() {
                updateFilters();
            });
        });
    </script>
}